/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20px -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: 5s linear backgroundAnimation infinite;
}

.message-center {
    font-size: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkgoldenrod;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

.button {
    position: absolute;
    top: calc(50% + 100px);
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(248, 66, 157);
    color: #fff;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 550;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
}
.button:hover {
    background-color: rgba(255, 105, 180, 0.938);
}
.button:active { 
    background-color: rgb(250, 58, 154);
}

@keyframes backgroundAnimation {
    0% {
        background-position: -20px -20px;
    } 
    20% {
        background-position: -20px -10px;
    }
    40% {
        background-position: -10px -10px;
    }
    60% {
        background-position: -10px -30px;
    }
    80% {
        background-position: 10px -10px;
    }
    100% {
        background-position: -20px -20px;
    }
}


/* RESPONSIVE */
@media only screen and (max-width: 500px) {
    .message-center {
        font-size: 30px;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    } 
}