/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app {
    width: 100vw;
    height: 100vh;
    background: url('../assets/background.jpg');
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: -20px -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 5s linear backgroundAnimation infinite;
}

.message-center {
    font-size: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkgoldenrod;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

@keyframes backgroundAnimation {
    0% {
        background-position: -20px -20px;
    } 
    20% {
        background-position: -20px -10px;
    }
    40% {
        background-position: -10px -10px;
    }
    60% {
        background-position: -10px -30px;
    }
    80% {
        background-position: 10px -10px;
    }
    100% {
        background-position: -20px -20px;
    }
}