@font-face {
    font-family: LoveFont;
    src: url('../../assets/fonts/Love.ttf');
}
@font-face {
    font-family: LoveFont2;
    src: url('../../assets/fonts/Lovely\ font\ demo.ttf');
}
@font-face {
    font-family: LoveFont3;
    src: url('../../assets/fonts/MyLove.ttf');
}
@font-face {
    font-family: LoveFont4;
    src: url('../../assets/fonts/Loveena.ttf');
}
@font-face {
    font-family: LoveFont5;
    src: url('../../assets/fonts/lovemy.ttf');
}